// Big Button
.big-button {
  background: $purple;
  border: none;
  // border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $m-size;
  margin-bottom: $m-size;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  // .big-button {
  //   margin-bottom: $xl-size;
  // }
}

// Button
.button {
  background: $purple;
  border: none;
  border-bottom: 0.1rem solid #5a607b;
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
.button-edit{
  margin-bottom: 1rem;
  background: #a8afd8;
}

.edit{
  background: #02b9f7;
  border: none;
  border-bottom: 0.6rem solid #693cad;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
}

.button-clear{
  background: #f13434;
  border: none;
  /* border-bottom: 0.3rem solid #0293c4; */
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}
