// Colors
$off-black: #012c71;
$dark-blue: aliceblue;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #02b9f7;
$pale-black: #434448;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 20rem;
